
<app-test></app-test>

<h2 [style.color] = "color" [style.background-color] = "bg_color">{{title}}</h2>

<table>

  <tr>
    <td>Testo titolo: </td>
    <td><input type="text" [(ngModel)]="title"/></td>
    <td><button (click)="reset_title()">Reset</button></td>
  </tr>

  <tr>
    <td>Colore titolo: </td>
    <td><input type="color" [(ngModel)]="color" style="width: 100%"/></td>
    <td><button (click)="reset_color()">Reset</button></td>
  </tr>

  <tr>
    <td>Colore sfondo: </td>
    <td><input type="color" [(ngModel)]="bg_color" style="width: 100%"/></td>
    <td><button (click)="reset_bg_color()">Reset</button></td>
  </tr>

</table>

<h2 [style.color] = "color" [style.background-color] = "bg_color">Persone</h2>
<app-table></app-table>