<h2 [style.color] = "color" [style.background-color] = "bg_color">{{title}}</h2>

<table>

  <tr>
    <td>Testo titolo: </td>
    <td><input type="text" [(ngModel)]="title"/></td>
    <td><button (click)="reset_title()">Reset</button></td>
  </tr>

  <tr>
    <td>Colore titolo: </td>
    <td><input type="color" [(ngModel)]="color" style="width: 100%"/></td>
    <td><button (click)="reset_color()">Reset</button></td>
  </tr>

  <tr>
    <td>Colore sfondo: </td>
    <td><input type="color" [(ngModel)]="bg_color" style="width: 100%"/></td>
    <td><button (click)="reset_bg_color()">Reset</button></td>
  </tr>

</table>

<h2 [style.color] = "color" [style.background-color] = "bg_color">Persone</h2>
<table class="bordered">
  <tr *ngFor="let person of persons; index as i" class="alternate-row">
    <td class="pers">{{person.name}}</td> 
    <td class="pers">{{person.surname}}</td> 
    <td class="pers">{{person.age}} anni</td>
    <td><button (click)="edit(i)">Modifica</button></td>
    <td><button (click)="delete(i)">Elimina</button></td>
  </tr>
</table>

<br />

<table>
  <tr>
    <td>Nome Persona: </td>
    <td><input type="text" [(ngModel)]="p.name"/>
  </tr>
  <tr>
    <td>Cognome Persona: </td>
    <td><input type="text" [(ngModel)]="p.surname"/>
  </tr>
  <tr>
    <td>Età Persona: </td>
    <td><input type="number" [(ngModel)]="p.age"/>
  </tr>
  <tr *ngIf="edit_index == -1"><td><button (click)="add_person()">{{add_button_text}}</button></td></tr>
  <tr *ngIf="edit_index != -1"><td><button (click)="edit_person()">{{add_button_text}}</button></td></tr>
</table>

